#personal
{
    width: 49%;
    float: right;
    text-align: center;
    height: fit-content;
    padding-bottom: 1vw;
    height: 100%;
}
#business
{
    width: 49%;
    float: left;
    text-align: center;
    height: fit-content;
    padding-bottom: 1vw;

}
#business .container {
    padding-left: 4vw;
    padding-right: 4vw;
}
#personal .container 
{
    padding-left: 4vw;
    padding-right: 4vw;
}

@media screen and (max-width: 1000px) {
    #personal {
      float: none;
      width: 100%;
      display: block;
      height: 30vh;
    }
    #business {
      float: none;
      width: 100%;
      margin-top: 1vh;
      display: block;
      height: 30vh;
    }
    .section
    {
        height: 100vh;
    }
  }