.header {
  position: fixed;
  align-self: center;
  background-color: #9cc7df;
  width: 100%;
  height: 90px;
  border-bottom: #333333 2px solid; 
  z-index: 999
}

.logo {
  float: left;
  margin-left: 1vw;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  font-size: 56px;
  color: #333333;
  text-decoration: none;
}

.header-right {
  float: right;
  margin-right: 1vw;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  font-size: 48px;
  color: #333333;
}

.navbarlink {
  margin-left: 5px;
  margin-right: 5px;
  color: #333333;
}
.navbarlink:hover {
  color: #466482;
}


@media (max-width: 1200px) {
  .menu-icon {
    z-index: 999;
    opacity: 100;
  }
  .header-right {
    z-index: 0;
    opacity: 0;
    position: absolute;
  }
}