body {
    background-color: lightgray;
}

html, body
{
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
    position: static;
    top: 0;
}

#header {
    width: 80%;
    height: 10%;
    background-color: cadetblue;
    display: inline-block;
}