body {
    background-color: lightgray;
    
    align-self: center;
}

.content {
    text-align: center;
}

#header {
    width: 80%;
    height: 10%;
    background-color: cadetblue;
    display: inline-block;
    position: static;
    top: 0;
}