html, body
{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Sen', sans-serif;
}

.content 
{
    text-align: center;
    position: static;
    top: 0;
    height: 200vh;
    border:0;
    background-color: #f5f5f5;
}

p, a, label, input
{
    font-family: 'Sen', sans-serif;
    font-weight: 500;
}
#video-div {
    padding: 0px;
    width: 100%;
    height: fit-content;
    overflow: visible;
    height: 60vh;
    background: none;
    z-index: 999;
}
#video-section
{
    min-height: 60vh;
}
#top-video {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    opacity: 0.7;
    z-index: 0;
    position: relative;
    margin: 0;
}
#tagline 
{
    z-index:99;
    position: relative;
    height: 60vh;
    width: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
    margin-top: -60vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tagline p {
    font-size: 8vw;
    font-weight: bold;
    position: relative;
}