#printing
{
    width: 49%;
    float: left;
    text-align: left;
    text-align: center;
    height: fit-content;
    padding-bottom: 1vw;
}
#designing
{
    width: 49%;
    height: fit-content;
    float: right;
    text-align: center;
    height: fit-content;
    padding-bottom: 1vw;

}
#designing .container {
    padding-left: 4vw;
    padding-right: 4vw;
}
#printing .container 
{
    padding-left: 4vw;
    padding-right: 4vw;
}

@media screen and (max-width: 1000px) {
    #printing {
      float: none;
      width: 100%;
      display: block;
      height: 30vh;
    }
    #designing {
      float: none;
      width: 100%;
      margin-top: 1vh;
      display: block;
      height: 30vh;
    }
    .section
    {
        height: 100vh;
    }
  }